<!DOCTYPE html>
<html>
    <head>
        <title>Exclusive Content Details</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Exclusive Content Details</h1>
            {% for exclusive_content in exclusive_contents %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Title: {{ exclusive_content.title }}</h2>
                    <h3 class="card-text">List: {{ exclusive_content.description }}</h3>
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'bandpage' %}" class="btn btn-link mt-3">Back to Home</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
